name: Renovate
on:
  # This lets you dispatch a renovate job with different cache options if you want to reset or disable the cache manually.
  workflow_dispatch:
    inputs:
      repoCache:
        description: 'Reset or disable the cache?'
        type: choice
        default: enabled
        options:
          - enabled
          - disable

jobs:
  renovate:
    name: Renovate
    runs-on: ubuntu-latest
    steps:
      - uses: actions/create-github-app-token@v1
        id: app_token
        with:
          app-id: ${{ vars.APP_ID }}
          private-key: ${{ secrets.PRIVATE_KEY }}

      - name: Cache Node.js
        uses: actions/cache@v3
        with:
          path: /tmp/renovate/cache/renovate/
          key: node-cache-${{ runner.os }}-${{ hashFiles('.github/renovate-config.js') }}
          restore-keys: |
            node-cache-${{ runner.os }}-

      - run: sudo chown -R 1000 /tmp/renovate

      - uses: actions/checkout@v4

      - uses: renovatebot/github-action@v40.1.12
        with:
          configurationFile: .github/renovate-config.js
          token: '${{ steps.app_token.outputs.token }}'
          renovate-version: 37.414.1
        env:
          # This enables the cache -- if this is set, it's not necessary to add it to renovate.json.
          RENOVATE_REPOSITORY_CACHE: ${{ github.event.inputs.repoCache || 'enabled' }}

      - run: sudo chown -R $(whoami) /tmp/renovate
